@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #070907;
    color: #f4f4f5;
  }

  /* GPU Hardware Acceleration for 120Hz Smoothness */
  .gpu-layer {
    transform: translateZ(0);
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  /* Custom Editorial Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #070907;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff9a00;
  }
}
